* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.launching-soon-body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #ff0000;
}

.coming-soon {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000;
    overflow: hidden;
    position: relative;
}

.coming-soon-inner {
    position: relative;
    /* Fixed width to ensure desktop proportions */
    width: 1200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 100px;
    text-transform: uppercase;
    padding: 20px 40px;
    background: #000;
    color: #ff0000;
    transform: skewY(-10deg);
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    white-space: nowrap;
}

.small-heading {
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    background: #000000;
    color: #ff0000;
    transform: skewY(-10deg);
    font-weight: 500;
    line-height: 1;
    box-shadow: 10px 10px 20px rgb(0 0 0 / .3);
    position: absolute;
    right: 15%;
    bottom: -35px;
    z-index: 10;
    white-space: nowrap;
}

.coming-soon-inner:before {
    content: "";
    height: 2px;
    width: 50%;
    background: #000;
    position: absolute;
    top: -60px;
    right: 10%;
    transform: skewY(-10deg);
}

.coming-soon-inner:after {
    content: "";
    height: 2px;
    width: 50%;
    background: #fff;
    position: absolute;
    bottom: -90px;
    right: 10%;
    transform: skewY(-10deg);
}

.heading:before {
    content: "";
    height: 2px;
    width: 50%;
    background: #000;
    position: absolute;
    top: -60px;
    left: 10%;
}

.heading:after {
    content: "";
    height: 2px;
    width: 50%;
    background: #fff;
    position: absolute;
    bottom: -130px;
    left: 10%;
}